body {background-color: #C19A6B}
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h1 { border:1px solid black;
  margin-bottom: 10px;
  color: #87ceeb ;
  background-color: black;
  text-align: center;
  padding: 5px;
}
h2 {float: right;
    position: relative;
    margin-left: 100%;
    margin-bottom: 12px;
    width: 200px;
    text-align: center;
    border: 1px solid black;
}
.BP { color : black;
background-color: #f4c2c2 }
.Win {color : #4169e1;
background-color: floralwhite}
.BB {color :  whitesmoke ;
background-color: darkslategrey}

p {
  background-color: #C0C0C0;
  margin-left: 100% 
  margin-bottom: 10px;
  color: black;
  text-align: center;
  border: 1px solid black;
}

.imp {font-weight: bold;}

.row {
  width: 100%;
}
/*desktop*/
@media (min-width: 992px) {
  .col-l-4
  {
    float: left;   
    width: 33.33%;
    padding:5px;
  }
}
/*tablet*/  
@media (min-width: 768px) and (max-width: 991px) {
  .col-m-6
  {
    float: left;
    width: 50%;
    padding:5px;
  }
  .col-m-12
  {
    float: left;
    width :100%;
    padding:5px;
  }
}
/*mobile*/  
@media (max-width: 767px) {
  .col-s-12
  {
    float: left;
    width:100%;
    padding:5px;
  }
}

